*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}

header{
    background-color: aquamarine;
    display: flex;
}

.gioithieucha{
    display: flex;
}


nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;

}

nav ul li a{    
    display: block;
    margin:20px 10px;
    padding: 10px 15px;
    text-decoration: none;
    border: solid 1px;
}

.giaohang{
    display: flex;
}

.highlight{
    font-size: 20px;
    font-weight: bold;
}

.InDam{
    font-weight: bold;
}

.gioithieu {
    margin-left: 50px;
    margin-top: 20px;
}

.nav{
    display: flex;
    margin: 20px 40px;
}

form{
    margin-top: 20px;
}

label{
    margin-left: 90px;
    font-size: 20px;
    margin-right: 20px;
}

input{
    border: solid 1px;
    padding: 5px;
    font-size: 16px;
    height: 34px;
    border-radius: 10px 10px 10px 10px;
    width: 300px;
}   


main{
    display: flex;
}

section{
    width: 70%;
}

.muamoimuacu h2{
    margin-left: 5px;
}

.cacchinhanh{
    margin: 50px 187px;
}

.cacchinhanh div{
    margin-bottom: 20px;
}

.imgmuamoimuacuhilight{
    color: red;
    font-size: 15px;
}

.hilightvakhonghilight{
    border: solid 1px red;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 3px 3px 3px 3px rgba(255, 0, 0, .15);
    margin: 5px;
    padding: 2px;
    margin-bottom: 10px;
}

.h2{
    margin-bottom: 10px;
}

.first1{
    display: flex;
}
.b1 h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.laptopasus a{
    margin: 10px 10px;
}

.laptopacer a{
    margin: 10px 10px;
}

.laptoplenovo a{
    margin: 10px 10px;
}


.f1{
    display: flex;
}

.hanglapacer{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 25px;
    padding: 5px 30px;
    border: 1px solid;
    color: rgb(157, 231, 46);
    
}

.f1 a{
    text-decoration: none;
}

.hanglapasus{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #485fc7;
    cursor: pointer;
    border: 1px solid;
    font-size: 25px;
    margin-left: 30px;
    padding: 5px 30px;
}

.hanglapmsi{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    margin-left: 30px;
    padding: 5px 30px;
    border: 1px solid;
}

.hanglaplenovo{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    margin-left: 30px;
    padding: 5px 30px;
    border: 1px solid;
    color: red;
}

.buttonmuahang{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#mua{
    font-size: 40px;
    margin-right: 40px;
    padding: 10px;
    background-color: #f52f32;
    border-radius: 10px;
}

#themvaogo{
    font-size: 40px;
    padding: 10px;
    background-color: #3a78d0;
    border-radius: 10px;
}

#chubutton{
    font-size: 20px;
}
aside{
    width: 30%;
    margin-left: 50px;
}

.contenaside{
    display: flex;
}

footer{
    background-color: blanchedalmond;
}


.form1{
    margin-left: 600px;
}

.form1 button{
    background-color: chartreuse;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 75px;
}

.form2{
    margin-left: 600px;
    margin-bottom: 20px;
}

.form2 button{
    background-color: chartreuse;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 75px;
}